body{
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif; ;
}


.navbar{
    background-color: rgba(0, 0, 0, 0.5) ;

    display: flex;
    flex-flow: row;
    justify-content:space-around;
    color: aliceblue;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;

}
.navbar img{
    width: 5%;
}
.navbar ul{
    display: flex;
    text-decoration: none;
}


.navbar ul li{
    padding: 5px 15px;
    text-decoration: none;
    list-style: none;
}




.navbar ul li a{
    color: aliceblue;
    
    text-decoration: none;
    transition: all   ;
    


}

.navbar:hover ul li a{
    color: #20c997;

}



/* @media screen and(max-width:992px) {

    .navbar{
        flex-direction: column;
        text-align: center;
    }
    .navbar ul{
        flex-direction: column;
    }
} */

.head{
    background-image: url(1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.layer{
    background-color: rgba(0, 0, 0, 0.6);
    display:flex;
    flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     align-content: center;
    color: aliceblue;
    height: 100vh;
    
}

.content{
    text-align: center;
    font-weight: 600;
    font-size: larger;
}
.content button{
    border-radius: 15px;
    padding: 20px;
    background-color: transparent;
    color: #20c997;
    border-color: #20c997;
    border: 2px solid;
    transition: all 1s;
    
}
.content:hover button{
    background-color: #20c997;
    color: aliceblue;
}


.container{
    width: 100%;

}
.label{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 600;

    
}
.label h2{
    opacity:0.4;
    position: relative;
    z-index:0 ;
    font-size: 50px;
    width: 100%;
    
    
}
.label p{
    position: absolute;
    z-index: 1;
    left: 50px;
    right: 50px;
    align-self: center;
    color: #212529;
}

.about{
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    /* background-color: aquamarine; */

}
 .olivia{
    width: 40%;
    
}
.name{
    width: 40%;
    /* background-color: tomato; */
    
} 
.name li{
    list-style-type: none;
    padding: 15px;
}


.name li a{
    color: #20c997;
}

.name button{
    border-radius: 15px;
   padding: 20px;
    background-color: transparent;
    color: aliceblue;
    /* border-color: #20c997; */
    border: 2px solid #20c997;
    background-color: #20c997;

}


.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.years{
    width: 20%;
   color: #4c4d4d; 
   text-align: center;
   font-weight: 500;
   font-size: x-large;

}

 @media screen and (max-width: 600px) {
    .olivia {
        width: 100%;
        padding: 0 20px;
    }
        .years {
            width: 100%;}
     
        
    } 






.three{
    background-color: #f8f9fa;
}

.servics{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.servics h2{
    position: relative;
    z-index: 0;
    font-size:70px;
    opacity: 0.5;
    color:#dce3e4 ;
}

.servics p{
    position: absolute;
    z-index: 1;
    color:#212 ;
    align-self: center;
}
.what
{ width: 100%;

display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.what-content{
    width: 40%;
}

@media screen and (max-width: 1024px) {
     .what-content{
        width: 100%;
        padding: 0 20px;
    
    }

     
        
    } 


/* START   OF    RESUME */

.resume{
    width: 100%;
    
}


.summary{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: #20c997; */
}
.summary h2{
    position: relative;
    z-index: 0;
    font-size: 50px;
    opacity: 0.4;
}

.summary p{
    position: absolute;
    z-index: 1;
    color:#212 ;
    align-self: center;
}


.resume-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.education{
    width: 40%;
    padding: 15px;
}


.computer{
    border: 2px solid black;
    padding: 10px;
    
    
    margin: 10px;


}
.computer .date{
    background-color: #20c997;
    width: 18%;
    border-radius: 5px;
    text-align: center;
}
.computer .color{
    color:#dc3545 ;
}


.experiance{
    width: 40%;
    padding: 15px;
}
.skills-content{

padding: 15px;

}



  @media screen and  (max-width: 1024px) {
    .education{
        width: 100%;
        
    }
        .experiance{
            width: 100%;
        }

        
        
        
    }



/* END    OF       RESUM */



/* START    OF    MY  WORK */

.portfolio{
    background-color:  #f8f9fa ;
    
}

.work{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.work h2{
    position: relative;
    z-index: 0;
    font-size:70px;
    opacity: 0.5;
    color:#dce3e4 ;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.work p{
    position: absolute;
    z-index: 1;
    color:#212 ;
    align-self: center;
}

/* .list{

} */


.list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
.list ul li{
    
    padding: 15px;
}
.list ul li a{

    text-decoration: none;
    color:  #7b8084;
}
/*  */
.container-portfolio{
    width: 90%;
    margin: auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.item-portfolio{
    
    width: 33%;
    
   
}
.items-img{
    margin: 0 10px 10px 0;
    position: relative;
}
.items-img img{
  
    width: 100%;
   
    
   
}


.layer-portfolio{
    /* text-align: center; */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   color: #f8f9fa;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: all 1s;

}

.items-img:hover .layer-portfolio{
    opacity: 1;
}









@media screen and (max-width: 900px) {
    .item-portfolio{
        width: 100%;
        
    }}

   


.Client{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.Client h2{
    position: relative;
    z-index: 0;
    font-size:70px;
    opacity: 0.5;
    color:#dce3e4 ;
}

.Client p{
    position: absolute;
    z-index: 1;
    color:#212 ;
    align-self: center;
}
.speak{
width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.alex{
    width: 40%;
    border: 3px solid white;

    background-color: #f8f9fa ;
    display: flex;
}

.alex img{
width: 60px;
border-radius: 50px;

}
.jay{
    width: 40%;
    border: 3px solid white;

    background-color: #f8f9fa ;
    display: flex;
}

.jay img{
width: 60px;
border-radius: 50px;


}
@media screen and  (max-width: 1024px)  {
    .alex {
        width: 100%;
        padding: 0 20px;
    
    }

        .jay{
            width: 100%;
            padding: 0 20px;
        }
    }


 /* END  OF     TESTIMONIAL  */




 .get{
     background-color: #f8f9fa;
 }
 .contact{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.contact h2{
    position: relative;
    z-index: 0;
    font-size:70px;
    opacity: 0.5;
    color:#dce3e4 ;
}

.contact p{
    position: absolute;
    z-index: 1;
    color:#212 ;
    align-self: center;
}

.form{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.address{
    width: 25%;
}
.send{
    width: 50%;
}
.xxx{
    width: 100%;
}
.xxx input{
    width: 100%;
    padding: 25px;
    margin: 5px;
}

.xxx textarea{
    width: 100%;
    margin: 5px;
    

}

.send button{
    border-radius: 30px;
    padding: 20px;
    background-color: #080b0a;
    color: #e9ecef;
    border-color: #20c997;
    border: 2px solid;
    transition: all 1s;
    
}
.send:hover button{
    background-color: #03583f;
    
}

@media screen and (max-width: 1024px) {
    .address{
       width: 100%;
    padding: 0 20px;
    }
      .send{
        width: 100%;
        padding: 0 20px;

      } 

    
       
   } 



.end{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    
}


.copyright{
    width: 30%;
    
}
.terms{
    width: 30%;
    transition: all 1s;
    
}
.terms:hover{
    color: #20c997;
}

@media screen and (max-width:1024px) {
    .copyright{
       width: 100%;}
       .terms{
        width: 100%;
      } 

    
       
   } 